<!DOCTYPE html>
<html>
  <head>
    <title>RailsWatchList</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <div class="navbar py-4">
    <div class="container">
      <div>
        <%= link_to "Watch lists", lists_path %>
      </div>
      <div>
        <%= link_to "My lists", lists_path %>
        <%= link_to "New list", new_list_path %>
      </div>
    </div>
  </div>

  <div style="margin-bottom: 100px">
    <%= yield %>
  </div>


  </body>
</html>
